{
  "name": "{{ app_name|kebab_case }}-frontend",
  "private": true,
  "version": "1.0.0",
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview"
  },
  "dependencies": {
    {% for dep, version in tech_stack.frontend.dependencies.items() %}"{{ dep }}": "{{ version }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "devDependencies": {
    {% for dep, version in tech_stack.frontend.devDependencies.items() %}"{{ dep }}": "{{ version }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  }
}
