fastapi=={{tech_stack.backend.dependencies.fastapi}}
uvicorn[standard]=={{tech_stack.backend.dependencies['uvicorn[standard]']}}
sqlalchemy=={{tech_stack.backend.dependencies.sqlalchemy}}
pydantic=={{tech_stack.backend.dependencies.pydantic}}
python-multipart=={{tech_stack.backend.dependencies['python-multipart']}}
